.Menu {
  background: var(--col-lighten-1);
  border-right: var(--col-darken-1);
  position: absolute;
  left: 0px;
  top: var(--header-height);
  height: calc(100% - var(--header-height));
  width: var(--menu-witdh);
  color: var(--col-white);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  transition: width 250ms ease;
  will-change: width;
  z-index: var(--z-menu);
}

.Menu--expanded {
  width: var(--menu-witdh-expanded);
}

.Menu__item {
  position: relative;
  width: 100%;
  height: var(--menu-witdh);
  color: inherit;
  cursor: pointer;
  overflow: hidden;
}

.Menu__expander {
  position: absolute;
  bottom: 0px;
}

.Menu__link {
  color: inherit;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: var(--menu-witdh);
  min-width: 0;
  overflow: hidden;
}

.Menu__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-width: var(--menu-witdh-expanded);
  opacity: 0;
  transition: opacity 250ms ease;
  will-change: opacity;
}

.Menu__icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: var(--menu-witdh);
  width: var(--menu-witdh);
  height: var(--menu-witdh);
  font-size: var(--font-size-vlarge);
  color: var(--col-lighten-5);
}

.Menu__title {
  font-size: var(--font-size);
  line-height: 1.2;
  color: var(--col-lighten-6);
  width: 100%;
}

.Menu__description {
  font-size: var(--font-size-small);
  line-height: 1.2;
  color: var(--col-lighten-4);
  width: 100%;
}

.Menu__expander .Menu__icon {
  width: 100%;
}

.Menu__item-selected .Menu__icon,
.Menu__link:active .Menu__icon {
  color: var(--col-white);
}

.Menu__item-selected .Menu__title,
.Menu__link:active .Menu__title {
  color: var(--col-white);
}

.Menu__item-selected .Menu__description,
.Menu__link:active .Menu__description {
  color: var(--col-lighten-8);
}

.Menu__link:focus {
  background: rgba(255, 255, 255, 0.05);
  outline: none;
}

.Menu__link:hover {
  background: rgba(255, 255, 255, 0.05);
}

.Menu__link:active {
  background: var(--col-lighten-1);
}

.Menu--expanded .Menu__item {
  justify-content: center;
}

.Menu--expanded .Menu__label {
  opacity: 1;
}
