:root {
  --col-white: #fff;
  --col-black: #000;

  --col-lighten-1: rgba(255, 255, 255, 0.1);
  --col-lighten-2: rgba(255, 255, 255, 0.2);
  --col-lighten-3: rgba(255, 255, 255, 0.3);
  --col-lighten-4: rgba(255, 255, 255, 0.4);
  --col-lighten-5: rgba(255, 255, 255, 0.5);
  --col-lighten-6: rgba(255, 255, 255, 0.6);
  --col-lighten-7: rgba(255, 255, 255, 0.7);
  --col-lighten-8: rgba(255, 255, 255, 0.8);
  --col-lighten-9: rgba(255, 255, 255, 0.9);
  --col-lighten-10: rgba(255, 255, 255, 1.0);

  --col-darken-1: rgba(0, 0, 0, 0.1);
  --col-darken-2: rgba(0, 0, 0, 0.2);
  --col-darken-3: rgba(0, 0, 0, 0.3);
  --col-darken-4: rgba(0, 0, 0, 0.4);
  --col-darken-5: rgba(0, 0, 0, 0.5);
  --col-darken-6: rgba(0, 0, 0, 0.6);
  --col-darken-7: rgba(0, 0, 0, 0.7);
  --col-darken-8: rgba(0, 0, 0, 0.8);
  --col-darken-9: rgba(0, 0, 0, 0.9);
  --col-darken-10: rgba(0, 0, 0, 1.0);

  --col-placeholder: var(--col-lighten-3);
  --col-field-bg: rgba(255, 255, 255, 0.05);

  --col-brand: #5196a0;
  --col-brand-light: #63aeb9;
  --col-brand-dark: #397983;
  --col-primary: #e5e197;
  --col-primary-light: #f5f1ab;
  --col-primary-dark: #ceca79;

  --col-bg: #0f2125;
  --col-header-bg: #152938;
  --col-text: var(--col-white);

  --col-pos: #85d341;
  --col-pos-light: #92db53;
  --col-pos-dark: #79c438;
  --col-neg: #e84918;
  --col-neg-light: #f25626;
  --col-neg-dark: #db4011;
  --col-neg-field-bg: rgba(232, 73, 24, 0.33);
}
