/* Tags */
/* ---- */

html {
  line-height: var(--lh-std);
  font-size: var(--font-size-base);
  font-family: var(--font-sans);
  height: 100%;
  color: var(--col-text);
  box-sizing: border-box;
  background: var(--col-bg);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: var(--font-size);
  font-family: inherit;
  height: 100%;
  color: inherit;
  background: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.has-error {
  background: rgba(219, 64, 17, 0.5);
}

main#root {
  /* http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.5+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-attachment: fixed;
  height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  margin-bottom: var(--mar-bottom-std);
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: var(--col-placeholder);
  font-style: italic;
}
::-moz-placeholder {
  color: var(--col-placeholder);
  font-style: italic;
}
:-ms-input-placeholder {
  color: var(--col-placeholder);
  font-style: italic;
}
:-moz-placeholder {
  color: var(--col-placeholder);
  font-style: italic;
}
