.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.App__content {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: var(--header-height);
  padding-left: var(--menu-witdh);
  transition: padding-left 250ms ease;
  will-change: padding-left;
}

.Menu--expanded + .App__content {
  padding-left: var(--menu-witdh-expanded);
}
