.Button {
  position: relative;
  display: inline-block;
  width: 100%;
}

.Button__busy .Icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: var(--col-white);
  margin-left: -15px;
  margin-top: -13px;
  animation: spinner 1s linear infinite;
}

.Button__btn {
  position: relative;
  text-align: center;
  border: 1px solid var(--col-darken-3);
  box-shadow: var(--but-highlight);
  border-radius: var(--border-radius);
  outline: 0px;
  cursor: pointer;
  padding: 0px 1.0rem;
  font-size: var(--font-size);
  line-height: var(--lh-reduced);
  width: 100%;
  margin: 0px auto;
  font-weight: bold;
  background: var(--col-brand);
  color: var(--col-text);
  height: var(--form-ele-height);
  transition: all 250ms ease;
}

.Button__btn:focus {
  box-shadow: var(--focus), var(--but-highlight);
}

.Button__btn:hover {
  background: var(--col-brand-light);
}

.Button__btn:active {
  background: var(--col-brand);
}

/* Disabled / Busy */
.Button--busy .Button__btn,
.Button--busy .Button__btn:focus,
.Button--busy .Button__btn:hover,
.Button--busy .Button__btn:active,
.Button__btn[disabled],
.Button__btn[disabled]:focus,
.Button__btn[disabled]:hover,
.Button__btn[disabled]:active {
  opacity: 0.33;
  box-shadow: none;
  user-select: none;
  pointer-events: none;
}

.Button--busy .Button__btn,
.Button--busy .Button__btn:focus,
.Button--busy .Button__btn:hover,
.Button--busy .Button__btn:active {
  opacity: 0.66;
}


/* Warning */
.Button__btn[data-buttontype="warning"] {
  background: var(--col-neg);
}

.Button__btn[data-buttontype="warning"]:focus {
  box-shadow: var(--focus-error), var(--but-highlight);
}

.Button__btn[data-buttontype="warning"]:hover {
  background: var(--col-neg-light);
}

.Button__btn[data-buttontype="warning"]:active {
  background: var(--col-neg);
}

.Button__btn[disabled][data-buttontype="warning"],
.Button__btn[disabled][data-buttontype="warning"]:focus,
.Button__btn[disabled][data-buttontype="warning"]:hover,
.Button__btn[disabled][data-buttontype="warning"]:active {
  background: var(--col-neg);
}
