.FieldWrap {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.FieldWrap--buttons {
  padding-left: 15px;
  padding-right: 15px;
}

fieldset .FieldWrap {
  padding-left: 5px;
  padding-right: 5px;
}

.FieldWrap + .FieldWrap {
  margin-top: 10px;
}

.Fieldwrap__left {
  margin-bottom: 5px;
  display: block;
  width: 100%;
}

.Fieldwrap__right {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .FieldWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
  }

  .Fieldwrap__left {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    margin-bottom: 0px;
    padding-right: 10px;
    min-width: 150px;
    width: 150px;
  }

  .Fieldwrap__right {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
  }
}
